.container {
  border-right: 5px solid blue;
  border-top: 5px solid pink;
  border-left: 5px solid pink;
  border-bottom: 5px solid blue;
  text-align: center;
  margin: 3em;
}

ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.container-fluid {
  display: flex;
  flex-direction: column;
}

ul li {
  justify-content: space-around;
  margin: 0.5em;
  padding: 0.5em;
  border-radius: 5px;
}

input {
  margin: 1em auto;
  border: 3px solid rgb(15, 15, 15);

}

label {
  padding-right: 1em;
}
#boy {
  color:blue;
}
#girl {
  color:pink;
}
#mix {
  color:yellow;
}
.button-container {
  display: flex;
  flex-direction: row;
justify-content: center;
}
input {
  margin-right: 15px;
}
button {
  margin-right: 15px;
  margin-top: 15px;
}